@media screen {
	/* plain text: #000; */
	.lang-matlab .pln { color: #000000; }
	/* strings: #080; #800000; */
	.lang-matlab .str { color: #A020F0; }
	/* keywords: #00008B; */
	.lang-matlab .kwd { color: #0000FF; }
	/* comments: #808080; */
	.lang-matlab .com { color: #228B22; }
	/* types: #606; */
	.lang-matlab .typ { color: #000000; font-weight: bold; }
	/* literals: #066; #000; */
	.lang-matlab .lit { color: #800000; }
	/* punctuation: #660; */
	.lang-matlab .pun { color: #000000; }
	/* tag: #008; */
	.lang-matlab .tag { color: #000000; }
	/* identifiers */
	.lang-matlab .ident { color: #000000; }
	/* special variables/constants: darkblue */
	.lang-matlab .const { color: #00008B; }
	/* core functions: #2B91AF; #004444; #444400; #440044; */
	.lang-matlab .fun { color: #2B91AF; }
	/* toolbox functions: #2B91AF; #004444; #444400; #440044; */
	.lang-matlab .fun_tbx { color: #2B91AF; }
	/* system commands */
	.lang-matlab .syscmd { color: #B28C00; }
	/* code output */
	.lang-matlab .codeoutput { color: #666666; }
	/* error messages */
	.lang-matlab .err { color: #E60000; }
	/* warning messages */
	.lang-matlab .wrn { color: #FF6400; }
	/* transpose operator */
	.lang-matlab .transpose { color: #000000; }
	/* line continuation */
	.lang-matlab .linecont { color: #0000FF; }
	/* unterminated strings */
	.lang-matlab .untermstring { color: #B20000; }
}
